.jumbotron {
	background-image: url("http://www.hobicell.com/wallpaper/green/green-and-orange-gradient-wallpaper-free-wide-hd-green-gradient-wallpaper-hd-.jpg");
}

.glyphicon.glyphicon-tint,.glyphicon.glyphicon-phone,.glyphicon.glyphicon-grain,.glyphicon.glyphicon-duplicate,.glyphicon.glyphicon-user,.glyphicon.glyphicon-time {
   	font-size: 12em;
}

.fa.fa-twitter-square,.fa.fa-facebook-square,.fa.fa-envelope {
	font-size:12em;

}


p.glyphicon-paragraph {
	font-size: 1.4em;
}

h1.titleluke {
	color: black;

}

a.githublinks:link{
	color: black;

}

p.githubbutton:hover{
	color: black;

}

a.toolbar:hover{
	color:red;	
}


