.jumbotron {
	background-image: url("webbackground.jpg");
}

.glyphicon.glyphicon-tint,.glyphicon.glyphicon-phone,.glyphicon.glyphicon-grain {
   	font-size: 12em;
}

p.glyphicon-paragraph {
	font-size: 1.4em;
}

h1.titleluke {
	color: black;

}

a.githublinks:link{
	color: black;

}

p.githubbutton:hover{
	color: black;

}

a.toolbar:hover{
	color:red;	
}


