.jumbotron {
	background-image: url("http://7-themes.com/data_images/out/18/6828622-polygon-wallpaper.jpg");
}

p.welcome {
	color: white;
}



.glyphicon.glyphicon-tint,.glyphicon.glyphicon-phone,.glyphicon.glyphicon-grain,.glyphicon.glyphicon-duplicate,.glyphicon.glyphicon-user,.glyphicon.glyphicon-time {
   	font-size: 12em;
}

.fa.fa-twitter-square,.fa.fa-facebook-square,.fa.fa-envelope {
	font-size:12em;

}


p.glyphicon-paragraph {
	font-size: 1.4em;
}

h1.titleluke {
	color: white;
	
}

a.githublinks:link{
	color: black;

}

p.githubbutton:hover{
	color: black;

}

a.toolbar:hover{
	color:red;	
}


